/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
.cart-items {
  list-style: none;
  padding: 0;
}
.logo {
  height: 2rem;
  flex: 0.18;
  margin: 0.8rem;
  justify-content: space-between;
}
.flex {
  display: flex;
  justify-content: center;
}
.cart-item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product {
  display: flex;
  align-items: center;
}

.product img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.product-details h2 {
  font-size: 18px;
  margin: 0;
}

.quantity input {
  width: 20px;
  padding: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.order-summary,
.shipping-payment {
  flex: 1;
  padding: 20px;
}

.order-summary {
  border-right: 1px solid #ddd;
}

.order-summary h2,
.shipping h2,
.payment h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.checkout-button-container {
  text-align: center;
  margin-top: 30px;
}

button.checkout-button {
  background-color: #f90;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button.checkout-button:hover {
  background-color: #ffaa00;
}

.payment-method {
  margin-top: 30px;
}

.payment-options {
  display: flex;
  flex-direction: column;
}

.payment-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  font-size: 1.2rem;
}

/* Style the selected payment method (for demonstration purposes) */
input[type="radio"]:checked + label {
  color: #f90;
  font-weight: bold;
}
